@import "colors.css";
@import "animations.css";

body {
    font-family: sans-serif;
    background-color: var(--background);
    background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url(https://images.pexels.com/photos/11849230/pexels-photo-11849230.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    background-size: cover;
}

header {
    font-family: 'Courier New', Courier, monospace;
    color: var(--text);
    font-size: 2vw;
    text-align: center;
    margin-top: -5px;
    margin-left: 32vw;
    margin-right: 32vw;
    border-radius: 15px;
    animation-duration: 1s;
    animation-name: changeScale;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
}

table {
    background-color: var(--terciary);
    color: inherit;
    margin-top: 10%;
    margin-bottom: auto;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    border-collapse: separate;
    border: solid var(--secondary) 1px;
    border-radius: 6px;
}

tr {
    background-color: var(--primary);
    height: 5rem;
}

tr, td {
    text-align: center;
    vertical-align: center;
}

td {
    overflow: hidden;
    border-radius: 5px;
    border: solid var(--secondary) 2px;
    padding: 0em;
    height: 2em;
    transition: 0.3s;
}

td:hover {
    background-color: var(--secondary);
    transform: scale(1.1);
}

td:active {
    background-color: var(--primary);
    transition: none;
}

a {
    color: var(--background);
    text-decoration: none;
    font-size: 26px;
    height: 100%;
    width: 100%;
    line-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s ease-in-out;
}

a:hover {
    color: var(--text);
}

div {
    padding: 0.5em 0.3em;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}