@import "colors.css";

body {
    font-family: sans-serif;
    background-color: var(--background);
}

header{
    font-family: 'Courier New', Courier, monospace;
    color: var(--text);
    font-size: 2vw;
    text-align: center;
    margin-top: -5px;
    margin-left: 32vw;
    margin-right: 32vw;
    border-radius: 15px;
}

table {
    background-color: #505050;
    margin-top: 10%;
    margin-bottom: auto;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    border-collapse: separate;
    border: solid var(--secondary) 1px;
    border-radius: 6px;
}

tr {
    background-color: var(--primary);
    height: 5rem;
}

tr, td {
    text-align: center;
    vertical-align: center;
}

td {
    overflow: hidden;
    border-radius: 5px;
    border: solid var(--secondary) 2px;
    padding: 0em;
    height: 2em;
}

td :hover{
    transition-duration: 0.4s;
    background-color: var(--secondary);
    color: var(--text);
}

a {
    color: var(--background);
    text-decoration: none;
    font-size: 26px;
    height: 100%;
    width: 100%;
    line-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

div {
    padding: 0.5em 0.3em;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}