@import "colors.css";
@import "animations.css";

body {
    font-family: sans-serif;
    background-color: var(--background);
    background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url(https://images.pexels.com/photos/1884574/pexels-photo-1884574.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    background-size: cover;
}

header {
    font-family: 'Courier New', Courier, monospace;
    color: var(--text);
    font-size: 2vw;
    text-align: center;
    margin-top: -5px;
    margin-left: 32vw;
    margin-right: 32vw;
    border-radius: 15px;
    animation-duration: 1s;
    animation-name: changeScale;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
}

table {
    background-color: var(--terciary);
    color: inherit;
    margin-bottom: auto;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    border: solid var(--secondary) 2px;
    border-radius: 6px;
    cursor: pointer;
}

tr, td, th {
    border: solid var(--secondary) 1px;
    padding-left: 5px;
    text-align: left;
    vertical-align: center;
}

th {
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: var(--accent);
    color: var(--background);
}

tr {
    background-color: #7e7e7e;
    height: 2.8rem;
}

tr:nth-child(even){
    background-color: #8f8f8f;
}

tr:hover {
    background-color: var(--terciary);
}

td {
    overflow: hidden;
}

a {
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    background-color: var(--primary);
    color: var(--background);
    text-decoration: none;
    font-size: 26px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 8em;
    height: 2em;
    transition: 0.3s ease-in-out;
}

a:hover {
    background-color: var(--secondary);
    color: var(--text);
}

a:active {
    background-color: var(--primary);
    transition: none;
}