<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/informacion-hincha.css') }}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Juegos Panamericanos - Info Hincha</title>
</head>
<body>
    <header>
        <h2>Información del hincha</h2>
    </header>
    {% if data %}
        <div>
            <h3>Región donde vive:</h3>
            <p>{{data.region}}</p>
            <h3>Comuna donde vive:</h3>
            <p>{{data.commune}}</p>
            <h3>Modo de transporte:</h3>
            <p>{{data.transport|title}}</p>
            <h3>Deportes de interés:</h3>
            {% for sport in data.sports %}
                <p>{{sport[0]}}</p>
            {% endfor %}
            <h3>Nombre hincha:</h3>
            <p>{{data.name}}</p>
            <h3>Email contacto hincha:</h3>
            <p>{{data.email}}</p>
            <h3>Número celular contacto:</h3>
            <p>{{data.phone if data.phone else "---"}}</p>
            <h3>Comentarios adicionales:</h3>
            <p>{{data.comments if data.comments else "---"}}</p>
        </div>
    {% endif %}
    <a href="{{ url_for('ver_hinchas', page=pagina) }}">Volver al listado de artesanos</a>
</body>
</html>